@import 'https://www.lenaschnedlitz.me/fonts/Inter/font-face.css';

@font-face {
  font-display: swap;
  font-family: 'FeatherIcons';
  font-weight: 400;
  src: url('https://www.lenaschnedlitz.me/readme-parrot/icons.woff2') format('woff2');
}

:root {
  --monospace: 'Victor Mono', monospace;
}

html {
  --sans-serif: 'Inter', sans-serif;
  font-family: var(--sans-serif);

  font-feature-settings: 'calt';
  font-size: 1rem;
  line-height: 1.75;
}

@supports (font-variation-settings: normal) {
  html {
    --sans-serif: 'Inter var', sans-serif;
    font-family: var(--sans-serif);
  }

  @media (prefers-color-scheme: dark) {
    body:not(.light) {
      font-weight: 410;
    }
  }

  body.dark {
    font-weight: 410;
  }
}

.fa {
  font-family: 'FeatherIcons' !important;
  font-style: normal !important;
}

.fa-undo:before {
  content: '\f0e2';
}
.fa-repeat:before {
  content: '\f01e';
}
.fa-header:before {
  content: '\f1dc';
}
.fa-bold:before {
  content: '\f032';
}
.fa-italic:before {
  content: '\f033';
}
.fa-code:before {
  content: '\f121';
}
.fa-list-ul:before {
  content: '\f0ca';
}
.fa-check-square:before {
  content: '\f14a';
}
.fa-table:before {
  content: '\f0ce';
}
.fa-link:before {
  content: '\f0c1';
}
.fa-image:before {
  content: '\f03e';
}
.fa-eye:before {
  content: '\f06e';
}
