@import './fonts.css';
@import './palette.css';

html {
  width: 100%;
  height: 100%;
  overflow: hidden;

  --frame: 20px;

  --font-size: 1rem;
  --line-height: 1.375rem;
}

@media all and (min-width: 900px) {
  html {
    --frame: 40px;
  }
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden auto;
  scroll-behavior: smooth;

  background: var(--gray-1);

  color: var(--gray-9);
  font-family: var(--sans-serif);
  font-size: 16px;
}

::selection {
  background: var(--secondary-color);
  color: var(--gray-1);
  -webkit-text-fill-color: var(--gray-1);
}
