:root {
  --grey-0: #ffffff;
  --grey-1: #fefefe;
  --grey-2: #dfdfdf;
  --grey-3: #c2c2c2;
  --grey-4: #a4a4a4;
  --grey-5: #878787;
  --grey-6: #686868;
  --grey-7: #4b4b4b;
  --grey-8: #2d2d2d;
  --grey-9: #111111;

  --primary-color-1: #f9f8dc;
  --primary-color-2: #f3f1ba;
  --primary-color-3: #eceb97;
  --primary-color-4: #e6e475;
  --primary-color-5: #e0dd52;
  --primary-color-6: #b3b142;
  --primary-color-7: #868531;
  --primary-color-8: #5a5821;
  --primary-color-9: #2d2c10;

  --primary-color: var(--primary-color-5);

  --primary-color-1-transparent: rgba(249, 248, 220, 0);
  --primary-color-2-transparent: rgba(243, 241, 186, 0);

  --secondary-color-2: #b9d6f3;
  --secondary-color-3: #97c2ec;
  --secondary-color-4: #74ade6;
  --secondary-color-5: #5199e0;
  --secondary-color-6: #417ab3;
  --secondary-color-7: #315c86;
  --secondary-color-8: #203d5a;

  --secondary-color: var(--secondary-color-5);

  --tertiary-color-2: #f9bcc3;
  --tertiary-color-3: #f69ba5;
  --tertiary-color-4: #f37987;
  --tertiary-color-5: #f05869;
  --tertiary-color-6: #c04654;
  --tertiary-color-7: #90353f;
  --tertiary-color-8: #60232a;

  --tertiary-color: var(--tertiary-color-5);

  --tertiary-color-2-transparent: rgba(249, 188, 195, 0);
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --grey-0: #000000;
    --grey-1: #111111;
    --grey-2: #2d2d2d;
    --grey-3: #4b4b4b;
    --grey-4: #686868;
    --grey-5: #878787;
    --grey-6: #a4a4a4;
    --grey-7: #c2c2c2;
    --grey-8: #dfdfdf;
    --grey-9: #fefefe;

    --primary-color-1: #2d2c10;
    --primary-color-2: #5a5821;
    --primary-color-3: #868531;
    --primary-color-4: #b3b142;
    --primary-color-5: #e0dd52;
    --primary-color-6: #e6e475;
    --primary-color-7: #eceb97;
    --primary-color-8: #f3f1ba;
    --primary-color-9: #f9f8dc;

    --primary-color-1-transparent: rgba(45, 44, 16, 0);

    --secondary-color-2: #203d5a;
    --secondary-color-3: #315c86;
    --secondary-color-4: #417ab3;
    --secondary-color-5: #5199e0;
    --secondary-color-6: #74ade6;
    --secondary-color-7: #97c2ec;
    --secondary-color-8: #b9d6f3;

    --tertiary-color-2: #60232a;
    --tertiary-color-3: #90353f;
    --tertiary-color-4: #c04654;
    --tertiary-color-5: #f05869;
    --tertiary-color-6: #f37987;
    --tertiary-color-7: #f69ba5;
    --tertiary-color-8: #f9bcc3;

    --tertiary-color-2-transparent: rgba(96, 35, 42, 0);
  }
}

@media all {
  body.dark {
    --grey-0: #000000;
    --grey-1: #111111;
    --grey-2: #2d2d2d;
    --grey-3: #4b4b4b;
    --grey-4: #686868;
    --grey-5: #878787;
    --grey-6: #a4a4a4;
    --grey-7: #c2c2c2;
    --grey-8: #dfdfdf;
    --grey-9: #fefefe;

    --primary-color-1: #2d2c10;
    --primary-color-2: #5a5821;
    --primary-color-3: #868531;
    --primary-color-4: #b3b142;
    --primary-color-5: #e0dd52;
    --primary-color-6: #e6e475;
    --primary-color-7: #eceb97;
    --primary-color-8: #f3f1ba;
    --primary-color-9: #f9f8dc;

    --primary-color-1-transparent: rgba(45, 44, 16, 0);

    --secondary-color-2: #203d5a;
    --secondary-color-3: #315c86;
    --secondary-color-4: #417ab3;
    --secondary-color-5: #5199e0;
    --secondary-color-6: #74ade6;
    --secondary-color-7: #97c2ec;
    --secondary-color-8: #b9d6f3;

    --tertiary-color-2: #60232a;
    --tertiary-color-3: #90353f;
    --tertiary-color-4: #c04654;
    --tertiary-color-5: #f05869;
    --tertiary-color-6: #f37987;
    --tertiary-color-7: #f69ba5;
    --tertiary-color-8: #f9bcc3;

    --tertiary-color-2-transparent: rgba(96, 35, 42, 0);
  }
}
